#orgm_nav .navbar-nav > li > a {
  color: #555555;
}
#orgm_nav .nav > li > a:hover,
#orgm_nav .nav > li > a:focus {
  color: #554236;
  text-decoration: none;
}
#orgm_nav .nav-header {
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
#orgm_nav .nav > .active > a,
#orgm_nav .nav > .active > a:hover,
#orgm_nav .nav > .active > a:focus {
  color: #554236;
  background-color: transparent;
}
#orgm_nav .nav .dropdown-toggle .caret {
  border-top-color: #333333;
  border-bottom-color: #333333;
}
#orgm_nav .nav .dropdown-toggle:hover .caret,
#orgm_nav .nav .dropdown-toggle:focus .caret {
  border-top-color: #554236;
  border-bottom-color: #554236;
}
#orgm_nav .nav .active .dropdown-toggle .caret {
  border-top-color: #554236;
  border-bottom-color: #554236;
}
#orgm_nav .nav-tabs .active .dropdown-toggle .caret {
  border-top-color: #555555;
  border-bottom-color: #555555;
}
#orgm_nav .nav > .open .dropdown-toggle,
#orgm_nav .nav > li.dropdown.open.active > a:hover,
#orgm_nav .nav > li.dropdown.open.active > a:focus {
  color: #554236;
  background-color: transparent;
}
#orgm_nav .nav li.dropdown.open .caret,
#orgm_nav .nav li.dropdown.open.active .caret,
#orgm_nav .nav li.dropdown.open a:hover .caret,
#orgm_nav .nav li.dropdown.open a:focus .caret {
  border-top-color: #554236;
  border-bottom-color: #554236;
}
#orgm_nav .dropdown-menu {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
#orgm_nav .dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
#orgm_nav .dropdown-menu > li > a {
  color: #333333;
  display: block;
}
#orgm_nav .dropdown-menu > li > a:hover,
#orgm_nav .dropdown-menu > li > a:focus,
#orgm_nav .dropdown-submenu:hover > a,
#orgm_nav .dropdown-submenu:focus > a {
  text-decoration: none;
  color: #ffffff;
  background-color: #554236;
  background-image: none;
}
#orgm_nav .dropdown-menu > .active > a,
#orgm_nav .dropdown-menu > .active > a:hover,
#orgm_nav .dropdown-menu > .active > a:focus {
  color: #ffffff;
  background-color: #554236;
  background-image: none;
}
#orgm_nav .dropdown-menu > .disabled > a,
#orgm_nav .dropdown-menu > .disabled > a:hover,
#orgm_nav .dropdown-menu > .disabled > a:focus {
  color: #999999;
}
#orgm_nav .dropdown-menu > .disabled > a:hover,
#orgm_nav .dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: default;
}
#orgm_nav .dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
#orgm_nav .dropdown-submenu > a:after {
  border-left-color: #cccccc;
}
#orgm_nav .dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}
#orgm_nav .nav .dropdown.open .dropdown-menu > li {
  width: 100%;
}
#orgm_nav .nav .dropdown.open .dropdown-menu > li > a {
  border-radius: 0;
  margin-left: 0;
  margin-right: 0;
}
.table.theme th {
  color: #554236;
}
.table tbody tr.theme > td {
  background-color: #93725e;
}
.table-hover tbody tr.theme:hover > td {
  background-color: #846654;
}
.alert a {
  color: inherit;
}
.alert-theme {
  background-color: #b49a89;
  border-color: #aa8d7a;
  color: #261e18;
}
.alert-theme a {
  color: #554236;
}
.alert-theme h4 {
  color: #261e18;
}
.btn-group.open .btn-theme.dropdown-toggle {
  background-color: #362a22;
}
.btn-theme .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.btn-theme.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn-theme {
  color: #ffffff;
  background-color: #554236;
  border-color: #554236;
}
.btn-theme:hover,
.btn-theme:focus,
.btn-theme:active,
.btn-theme.active {
  color: #ffffff;
  background-color: #45362c;
  border-color: #362a22;
}
.btn-theme.disabled,
.btn-theme[disabled],
fieldset[disabled] .btn-theme,
.btn-theme.disabled:hover,
.btn-theme[disabled]:hover,
fieldset[disabled] .btn-theme:hover,
.btn-theme.disabled:focus,
.btn-theme[disabled]:focus,
fieldset[disabled] .btn-theme:focus,
.btn-theme.disabled:active,
.btn-theme[disabled]:active,
fieldset[disabled] .btn-theme:active,
.btn-theme.disabled.active,
.btn-theme[disabled].active,
fieldset[disabled] .btn-theme.active {
  background-color: #554236;
  border-color: #554236;
}
#contents .panel-heading .panel-title {
  line-height: 1.1;
}
#contents .panel-default .panel-heading .panel-title {
  color: #333333;
}
#contents .panel-primary .panel-heading .panel-title {
  color: #ffffff;
}
#contents .panel-success .panel-heading .panel-title {
  color: #ffffff;
}
#contents .panel-warning .panel-heading .panel-title {
  color: #ffffff;
}
#contents .panel-danger .panel-heading .panel-title {
  color: #ffffff;
}
#contents .panel-info .panel-heading .panel-title {
  color: #ffffff;
}
a {
  color: #554236;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #554236;
  text-decoration: underline;
}
#logo a.navbar-brand {
  color: #554236;
}
.marketing .page-header h1 {
  color: #554236;
}
.alert.alert-theme {
  text-shadow: none;
}
.alert.alert-theme a {
  color: #e6ddd7;
  text-shadow: none;
  text-decoration: underline;
}
.alert.alert-theme a:hover {
  color: #eeeeee;
}
.alert.alert-theme .close {
  color: #555555;
  opacity: 100;
  filter: alpha(opacity=10000);
  text-shadow: none;
}
.table tr.theme td {
  color: #ffffff;
}
