body {
  background-image: url("../img/paper.png");
}
hr {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #fff;
}
#orgm_container {
  background-color: transparent;
  color: #555;
  /* 	.box-shadow(1px 1px 5px rgba(0, 0, 0, .25)); */

}
.musthead h3 a {
  color: #555;
}
@media (max-width: 767px) {
  #orgm_container {
    padding: 0 15px;
  }
}
