@import url('./bootstrap.theme.css');


#orgm_navbar .navbar-brand.logo-image {
	padding: 0 20px;
	border-style: none;
	margin: 0;
	line-height: 50px;
	height: 50px;
	box-sizing: border-box;
}

#orgm_navbar .navbar-brand.logo-image img {
	max-height: 50px;
	max-width: none;
}

#orgm_nav{
	margin-left: auto;
	margin-right: auto;
}

#orgm_nav > ul > li > a {
	text-shadow: none;
	padding-top: 0;
	padding-bottom: 0;
	line-height: 
	box-sizing: border-box;
	line-height: 50px;
	z-index: auto;
}

#orgm_nav > ul > li.active a {
	font-weight: normal;
}

#orgm_navbar {
	overflow: visible;
}

#orgm_navbar > ul {
	position: relative;
}
#orgm_navbar .navbar-collapse {
	position: relative;
	overflow: visible;
}

#orgm_navbar .dropdown-menu > li > a:hover, 
#orgm_navbar .dropdown-menu > li > a:focus,
#orgm_navbar .dropdown-submenu:hover > a,
#orgm_navbar .dropdown-submenu:focus > a {
	text-decoration: none;
	color: #606060;
	background-color: #e5e5e5;
}

#orgm_navbar .dropdown-menu:after {
	border-bottom: 6px solid #f1f1f1;
}

#orgm_nav .share_buttons ul.nav > li > a {
	margin-top: 14px;
}


#contents {
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.footer {
	position: relative;
	top: 20px;
	z-index: 100;
	width: 100%;
	padding: 20px 0;
	background: #f1f1f1;
	box-sizing: border-box;
}

/* Main marketing message and sign up button */

#orgm_eyecatch {
	margin-top: 0px;
}

#orgm_eyecatch .jumbotron {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
}

#orgm_eyecatch .carousel {
	border-radius: 0px;
}
#orgm_eyecatch .carousel:after {
	z-index: 0;
}

#orgm_eyecatch .carousel .item {
	height: 400px;
	width: 100%;
}

#orgm_eyecatch .carousel.fit .item {
	height: auto;
}


#orgm_eyecatch .carousel .item img{
	min-width: 100%;
}

#orgm_eyecatch .carousel-caption {
	position: absolute;
	top: auto;
	right: 0;
	left: 0;
	z-index: 10;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	background-color: transparent;
	padding:0 0;
}

#orgm_eyecatch .carousel-caption h1 {
	font-family: 'Merriweather', sans-serif;
	font-size: 63px;
	color: #333;
	font-weight: 900;
	font-style: normal;
	text-align: center;
	text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	margin-top: 0;
	margin-bottom: 20px;
}

#orgm_eyecatch .carousel-caption .lead {
	line-height: 1.5em;
	color: #333;
	z-index: 55;
	text-align: center;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

#orgm_eyecatch .carousel-control {
	background-image: none;
	z-index: 11;
}

#orgm_eyecatch .carousel.single .carousel-control {
	display: none;
}

.orgm-nocarousel {
	height: 410px;
	width: 100%;
	background-color: #dbdedc;
	position: relative;
}
.orgm-nocarousel h1 {
	width:  800px;
	left: 50%;
	margin-left: -400px;
	position: absolute;
	margin-top: 180px;
	font-family: 'Merriweather', sans-serif;
	font-size: 63px;
	line-height: 80px;
	color: #333;
	font-weight: 900;
	font-style: normal;
	text-align: center;
	text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.orgm-nocarousel .lead {
	position: absolute;
	color: #333;
	line-height: 1.5em;
	margin-top: 280px;
	z-index: 55;
	width: 800px;
	left: 50%;
	top: 0;
	margin-left: -400px;
	text-align: center;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.orgm-nocarousel .btn {
	font-size: 21px;
	padding: 14px 24px;
}

.orgm-nocarousel.carousel {
	margin:0;
}



/* Supporting marketing content */

.marketing {
}

.marketing p {
	margin-top: 1.5em;	
	margin-bottom: 1.5em;	
}

.footer {
	padding-bottom: 30px;
}

#licence {
	margin-top: 30px;
	text-align: center;	
}

.btn-theme {
	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, 0%, #e6e6e6, 100%);
	background-image: -moz-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
	background-image: linear-gradient(to bottom, #ffffff 0%, #e6e6e6 100%);
	background-repeat: repeat-x;
	border-color: #e0e0e0;
	border-color: #ccc;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
}

@media(max-width:979px) {
	.navbar-fixed-top {
		margin-bottom: 0;
	}
}

@media(min-width:768px) {
	#orgm_eyecatch .jumbotron {
		padding-top: 0;
		padding-bottom: 0;
	}
}

@media(max-width:767px) {
	#logo {
		float: left;
	}
	#contents {
		width: 100%;
	}
	
	#orgm_navbar .navbar-collapse {
		padding-right: 0;
		padding-left: 0;
	}
	
	#orgm_navbar .dropdown-menu > li > a:hover, 
	#orgm_navbar .dropdown-menu > li > a:focus,
	#orgm_navbar .dropdown-menu > li.active > a,
	#orgm_navbar .dropdown-submenu:hover > a,
	#orgm_navbar .dropdown-submenu:focus > a {
		background-color: #222;
		background-image: none;
		color: #fff;
	}
	
	#orgm_eyecatch {
		margin-top: 0;
	}
	#orgm_eyecatch .jumbotron {
		padding-left: 0;
		padding-right: 0;
	}
	#orgm_eyecatch .collapse.in .dropdown-menu > li.active > a {
		color: #fff;
	}
	#orgm_eyecatch .carousel .item {
		max-height: 200px;
	}
	#orgm_eyecatch .carousel .item img{
		min-height: 200px;
	}
	#orgm_eyecatch .carousel-caption h1 {
		font-size: 40px;
	}


	.footer {
		width: auto;
	}
}
