
body {
/*
	padding-top: 20px;
 	padding-bottom: 60px; 
*/
}

/* Custom container */
#orgm_container {
	margin: 20px auto 20px;
	background-color: #fff;
	padding: 0 30px;
	border-radius: 7px;
}

#orgm_container > hr {
	margin: 30px 0;
}

/* navi */
#logo {
	padding: 0 0;
	line-height: 50px;
	box-sizing: border-box;
	margin: 0;
	height: 50px;
}

#logo .navbar-brand {
	font-size: 24.5px;
	color: #999999;
	text-decoration: none;
	padding-left: 0;
	padding-right: 0;
}

#logo .navbar-brand.logo-image {
	padding: 0;
	border-style: none;
	margin: 0;
	line-height: 50px;
}

#logo .navbar-brand.logo-image img {
	max-height: 50px;
	max-width: none;
}


/* Main marketing message and sign up button */
.jumbotron {
	margin: 0;
	padding: 60px 0;
	text-align: center;
}


#orgm_eyecatch .eyecatch {
	background-clip: content-box;
	padding: 0 0;
	border-radius: 0;
	background-color: #fff;
	margin-bottom: 20px;
}

.jumbotron h1 {
	line-height: 1;
}
.jumbotron .lead {
	font-size: 24px;
	line-height: 1.25;
}
.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

#orgm_eyecatch .carousel .item {
	height: 300px;
}

#orgm_eyecatch .carousel.fit .item{
	height: auto;
}

#orgm_eyecatch .carousel.single .item img{
	min-height: inherit;
}

#orgm_eyecatch .carousel .item img{
	min-width: 100%;
}

#orgm_eyecatch .carousel-caption {
	background-color: transparent;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.2);	
	color: #333;
	width: 100%;
	top: 50%;
	left:0;
	right:0;
	margin-top: -100px;
	text-align: center;
	box-sizing: border-box;
	z-index: 10;
}

#orgm_eyecatch .carousel-caption h1,
#orgm_eyecatch .carousel-caption h2,
#orgm_eyecatch .carousel-caption h3,
#orgm_eyecatch .carousel-caption h4,
#orgm_eyecatch .carousel-caption .lead{
	color: #333;
}


#orgm_eyecatch .carousel-control {
	background-image: none;
	z-index: 11;
}


#orgm_eyecatch .carousel.single .carousel-control {
	display: none;
}


/* Supporting marketing content */
.marketing {
/* 	margin: 30px 0 60px; */
	margin: 0 0 60px;
	line-height: 1.7em;
}
.marketing h1 {
	margin-top: 30px;	
	margin-bottom: 20px;	
}
.marketing h1 {
	margin-top: 30px;	
	margin-bottom: 20px;	
}
.marketing h2 {
	margin-top: 30px;	
	margin-bottom: 20px;	
}
.marketing h3 {
	margin-top: 30px;	
	margin-bottom: 20px;	
}
.marketing h4 {
	margin-top: 30px;	
	margin-bottom: 20px;	
}

.marketing p {
	margin-top: 1.5em;	
	margin-bottom: 1.5em;	
}
.marketing p + h4 {
	margin-top: 28px;
}

/* Customize the navbar links to be fill the entire space of the .navbar */
.container .navbar .navbar-inner {
	padding: 0;
}
#orgm_nav .nav {
	margin: 0;
	display: table;
	width: 100%;
}
#orgm_nav .nav > li {
	display: table-cell;
/* 	width: 1%; */
	float: none;
}
#orgm_nav .nav > li > a {
	font-weight: normal;
	text-align: center;
	padding-top: 0;
	padding-bottom:0;
	line-height: 50px;
}
#orgm_nav .nav > li:first-child > a {
	border-left: 0;
	border-radius: 3px 0 0 3px;
}
#orgm_nav .nav > li:last-child > a {
	border-right: 0;
	border-radius: 0 3px 3px 0;
}

#orgm_nav .nav > li.active > a {
	border-right-width: 0;
	border-left-width: 0;
}

.navbar-toggle {
	border-color: #ddd;
	margin-right: 0;
}
.navbar-toggle .icon-bar {
	background-color: #ddd;
}

#orgm_navbar .navbar-collapse {
	padding-left:0;
	padding-right:0;
}

#orgm_navbar {
/*
	background-color: #fff;
	border-style: none;
*/
}

#orgm_nav .nav .dropdown.open .dropdown-menu {
	left: auto;
}

#orgm_nav .share_buttons ul.nav > li > a:hover {
	background-color: transparent;
}


.footer {
	padding-bottom: 30px;
}

#licence {
	margin-top: 30px;
	text-align: center;	
}

@media (max-width: 767px) {

	.nav-collapse,
	.nav-collapse.collapse {
		height: 0;
	}
	
	#logo {
		float: left;
		margin-left: 15px;
	}

	#logo .navbar-brand {
		margin-left: 0;
		margin-right: 0;
		text-align: left;
	}
	
	#orgm_navbar {
		position: static;
	}
	
	#orgm_navbar .navbar-collapse {
		border-top-style: none;		
	}
	
	#orgm_navbar .nav > li.active > a {
		border-radius: 0;
	}

	#orgm_navbar .nav > li.dropdown.open ul.dropdown-menu {
/* 		background-color: transparent; */
		border-style:none;
		box-shadow: none;
		left: auto;
	}

	#orgm_navbar .nav > li.dropdown.open ul.dropdown-menu > li > a {
		color: inherit;
	}

	#orgm_navbar .nav > li.dropdown.open ul.dropdown-menu > li > a:hover {
		background-color: transparent;
		background-image: none;
		font-weight: bold;
	}

	#orgm_nav .nav > li {
		display: list-item;
		width: auto;
	}
	#orgm_nav .nav > li > a {
		text-align: left;
	}

	#orgm_nav .nav > li > a:hover,
	#orgm_nav .nav > li > a.focus,
	#orgm_nav .nav > li > a.active {
		background-color: transparent;
		font-weight: bold;
	}

	#orgm_nav .nav > li:first-child {
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
	}

	#orgm_nav > .nav > li {
		position: relative;
		display: block;
		padding: 0 0px;
		margin-bottom: -1px;
		background-color: #ffffff;
		border: 1px solid #dddddd;
	}
	#orgm_nav > .nav > li > a {
		line-height: 3em;
	}
	
	#orgm_eyecatch .carousel .item {
		height: 200px;
	}
	#orgm_eyecatch .carousel .item img {
		min-height: 200px;
	}
	#orgm_eyecatch .carousel .carousel-caption h1 {
		font-size: 30px;
	}
	#orgm_eyecatch .carousel .carousel-caption .lead {
		font-size: 16px;
	}

}