.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.masthead {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 30px rgba(0, 0, 0, 0.075);
  background: #f6bfbc;
  /* Old browsers */

  background-color: #fceae9;
  background-image: -moz-linear-gradient(left, #f6bfbc, #fceae9);
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#f6bfbc), to(#fceae9));
  background-image: -webkit-linear-gradient(left, #f6bfbc, #fceae9);
  background-image: -o-linear-gradient(left, #f6bfbc, #fceae9);
  background-image: linear-gradient(to right, #f6bfbc, #fceae9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff6bfbc', endColorstr='#fffceae9', GradientType=1);
  -webkit-box-shadow: 'inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2)';
  -moz-box-shadow: 'inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2)';
  box-shadow: 'inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2)';
}
.masthead:after {
  opacity: 0.3;
}
.alert a {
  color: inherit;
}
.alert-theme {
  background-color: #fceae9;
  border-color: #f9d4d2;
  color: #f0948f;
}
.alert-theme a {
  color: #f6bfbc;
}
.alert-theme h4 {
  color: #f0948f;
}
.btn-group.open .btn-theme.dropdown-toggle {
  background-color: #f0948f;
}
.btn-theme .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.btn-theme.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn-theme {
  color: #ffffff;
  background-color: #f6bfbc;
  border-color: #f6bfbc;
}
.btn-theme:hover,
.btn-theme:focus,
.btn-theme:active,
.btn-theme.active {
  color: #ffffff;
  background-color: #f3aaa6;
  border-color: #f0948f;
}
.btn-theme.disabled,
.btn-theme[disabled],
fieldset[disabled] .btn-theme,
.btn-theme.disabled:hover,
.btn-theme[disabled]:hover,
fieldset[disabled] .btn-theme:hover,
.btn-theme.disabled:focus,
.btn-theme[disabled]:focus,
fieldset[disabled] .btn-theme:focus,
.btn-theme.disabled:active,
.btn-theme[disabled]:active,
fieldset[disabled] .btn-theme:active,
.btn-theme.disabled.active,
.btn-theme[disabled].active,
fieldset[disabled] .btn-theme.active {
  background-color: #f6bfbc;
  border-color: #f6bfbc;
}
#contents .panel-heading .panel-title {
  line-height: 1.1;
}
#contents .panel-default .panel-heading .panel-title {
  color: #333333;
}
#contents .panel-primary .panel-heading .panel-title {
  color: #ffffff;
}
#contents .panel-success .panel-heading .panel-title {
  color: #ffffff;
}
#contents .panel-warning .panel-heading .panel-title {
  color: #ffffff;
}
#contents .panel-danger .panel-heading .panel-title {
  color: #ffffff;
}
#contents .panel-info .panel-heading .panel-title {
  color: #ffffff;
}
