.sample-style-name-semi [class*=sample-style-color] {
  background-color: #fff;
  color: rgba(0, 0, 0, 0);
}
.sample-style-name-semi .sample-style-color {
  background-color: #fff;
  background-image: -webkit-gradient(linear, right bottom, left top, from(transparent), color-stop(0.46, transparent), color-stop(0.51, rgba(0, 0, 0, 0.3)), color-stop(0.51, transparent), color-stop(1, transparent), to(transparent)), -webkit-gradient(linear, left bottom, right top, from(transparent), color-stop(0.46, transparent), color-stop(0.51, rgba(0, 0, 0, 0.3)), color-stop(0.51, transparent), color-stop(1, transparent), to(transparent));
  background-image: -moz-linear-gradient(225deg, transparent, transparent 49%, rgba(0, 0, 0, 0.3) 50%, transparent 51%, transparent), -moz-linear-gradient(135deg, transparent, transparent 49%, rgba(0, 0, 0, 0.3) 50%, transparent 51%, transparent);
  background-image: -o-linear-gradient(225deg, transparent, transparent 49%, rgba(0, 0, 0, 0.3) 50%, transparent 51%, transparent), -o-linear-gradient(135deg, transparent, transparent 49%, rgba(0, 0, 0, 0.3) 50%, transparent 51%, transparent);
  background-image: linear-gradient(45deg, transparent, transparent 49%, rgba(0, 0, 0, 0.3) 50%, transparent 51%, transparent), linear-gradient(-45deg, transparent, transparent 49%, rgba(0, 0, 0, 0.3) 50%, transparent 51%, transparent);
}
.sample-style-name-semi .sample-style-color-hanada {
  background-color: #006284;
}
.sample-style-name-semi .sample-style-color-grayshblue {
  background-color: #d7e1e6;
}
.sample-style-name-semi .sample-style-color-white {
  background-color: #ffffff;
}
.sample-style-name-semi .sample-style-color-wakatake {
  background-color: #5dac81;
}
.sample-style-name-semi .sample-style-color-black-blue {
  background-color: #3498db;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#3498db), color-stop(0.49, #3498db), color-stop(0.5, #222222), to(#222222));
  background-image: -moz-linear-gradient(135deg, #3498db, #3498db 49%, #222222 50%, #222222);
  background-image: -o-linear-gradient(135deg, #3498db, #3498db 49%, #222222 50%, #222222);
  background-image: linear-gradient(-45deg, #3498db, #3498db 49%, #222222 50%, #222222);
}
.sample-style-name-semi .sample-style-color-black-emerald {
  background-color: #3abeb4;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#3abeb4), color-stop(0.49, #3abeb4), color-stop(0.5, #222222), to(#222222));
  background-image: -moz-linear-gradient(135deg, #3abeb4, #3abeb4 49%, #222222 50%, #222222);
  background-image: -o-linear-gradient(135deg, #3abeb4, #3abeb4 49%, #222222 50%, #222222);
  background-image: linear-gradient(-45deg, #3abeb4, #3abeb4 49%, #222222 50%, #222222);
}
.sample-style-name-semi .sample-style-color-black-green {
  background-color: #74ac24;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#74ac24), color-stop(0.49, #74ac24), color-stop(0.5, #222222), to(#222222));
  background-image: -moz-linear-gradient(135deg, #74ac24, #74ac24 49%, #222222 50%, #222222);
  background-image: -o-linear-gradient(135deg, #74ac24, #74ac24 49%, #222222 50%, #222222);
  background-image: linear-gradient(-45deg, #74ac24, #74ac24 49%, #222222 50%, #222222);
}
.sample-style-name-semi .sample-style-color-black-orange {
  background-color: #faa732;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#faa732), color-stop(0.49, #faa732), color-stop(0.5, #222222), to(#222222));
  background-image: -moz-linear-gradient(135deg, #faa732, #faa732 49%, #222222 50%, #222222);
  background-image: -o-linear-gradient(135deg, #faa732, #faa732 49%, #222222 50%, #222222);
  background-image: linear-gradient(-45deg, #faa732, #faa732 49%, #222222 50%, #222222);
}
.sample-style-name-semi .sample-style-color-black-rose {
  background-color: #f34541;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#f34541), color-stop(0.49, #f34541), color-stop(0.5, #222222), to(#222222));
  background-image: -moz-linear-gradient(135deg, #f34541, #f34541 49%, #222222 50%, #222222);
  background-image: -o-linear-gradient(135deg, #f34541, #f34541 49%, #222222 50%, #222222);
  background-image: linear-gradient(-45deg, #f34541, #f34541 49%, #222222 50%, #222222);
}
.sample-style-name-semi [class*=sample-style-texture] {
  background-image: transparent;
  color: rgba(0, 0, 0, 0);
}
.sample-style-name-semi .sample-style-texture {
  background-color: #fff;
  background-image: -webkit-gradient(linear, right bottom, left top, from(transparent), color-stop(0.46, transparent), color-stop(0.51, rgba(0, 0, 0, 0.3)), color-stop(0.51, transparent), color-stop(1, transparent), to(transparent)), -webkit-gradient(linear, left bottom, right top, from(transparent), color-stop(0.46, transparent), color-stop(0.51, rgba(0, 0, 0, 0.3)), color-stop(0.51, transparent), color-stop(1, transparent), to(transparent));
  background-image: -moz-linear-gradient(225deg, transparent, transparent 49%, rgba(0, 0, 0, 0.3) 50%, transparent 51%, transparent), -moz-linear-gradient(135deg, transparent, transparent 49%, rgba(0, 0, 0, 0.3) 50%, transparent 51%, transparent);
  background-image: -o-linear-gradient(225deg, transparent, transparent 49%, rgba(0, 0, 0, 0.3) 50%, transparent 51%, transparent), -o-linear-gradient(135deg, transparent, transparent 49%, rgba(0, 0, 0, 0.3) 50%, transparent 51%, transparent);
  background-image: linear-gradient(45deg, transparent, transparent 49%, rgba(0, 0, 0, 0.3) 50%, transparent 51%, transparent), linear-gradient(-45deg, transparent, transparent 49%, rgba(0, 0, 0, 0.3) 50%, transparent 51%, transparent);
}
.sample-style-name-semi .sample-style-texture-hemp-dark {
  background-image: url("../img/hemp-cloth-01.jpg");
}
.sample-style-name-semi .sample-style-texture-hemp-light {
  background-image: url("../img/hemp-cloth-05.jpg");
}
.sample-style-name-semi .sample-style-texture-square {
  background-color: #fafafa;
  background-image: url("../img/square_bg.png");
}
.sample-style-name-semi .sample-style-texture-wood {
  background-image: url("../img/wood_pattern_rotate.png");
}
.sample-style-name-semi .sample-style-texture-rainbow {
  background-image: url("../img/rainbow_bg.jpg");
  background-size: cover;
}
